<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script src="calc.js"></script>
        <script src="binomial.js"></script>
        
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>
        <div class="container-fluid">
        <h1 class="mt-4 mb-4">Pandemic calculator</h1>
        <div ng-app="pandemic" ng-controller="calculator">
            <table class="table table-sm table-hover text-center">
                <tr>
                    <th ng-click="orderParameter = name">City</th>
                    <th colspan="4">at least 1</th>
                    <th colspan="4">at least 2</th>
                    <th>Epidemic ({{ state.GetEpidemicOdds().toFixed(2) }} chance)</th>
                </tr>
                <tr>
                    <th>&nbsp;</th>
                    <th ng-click="orderParameter = {atleast: 1, turns: 1}">1 turn</th>
                    <th ng-click="orderParameter = {atleast: 1, turns: 2}">2 turn</th>
                    <th ng-click="orderParameter = {atleast: 1, turns: 3}">3 turn</th>
                    <th ng-click="orderParameter = {atleast: 1, turns: 4}">4 turn</th>
                    <th ng-click="orderParameter = {atleast: 2, turns: 1}">1 turn</th>
                    <th ng-click="orderParameter = {atleast: 2, turns: 2}">2 turn</th>
                    <th ng-click="orderParameter = {atleast: 2, turns: 3}">3 turn</th>
                    <th ng-click="orderParameter = {atleast: 2, turns: 4}">4 turn</th>
                </tr>
                <tr ng-repeat="x in cities | orderBy:OrderTable"
                    ng-class="{ 'table-primary': x.color=='blue',
                                'table-secondary': x.color=='black',
                                'table-danger': x.color=='red',
                                'table-warning': x.color=='yellow' }">
                    <td>
                        <button type="button" ng-click="ClickCity(x.name)" class="btn btn-sm btn-outline-dark btn-block">
                            {{ x.name }}
                        </button>
                    </td>
                    <td>{{ GetGrid(1,1,x.name) }}</td>
                    <td>{{ GetGrid(2,1,x.name) }}</td>
                    <td>{{ GetGrid(3,1,x.name) }}</td>
                    <td>{{ GetGrid(4,1,x.name) }}</td>
                    <td>{{ GetGrid(1,2,x.name) }}</td>
                    <td>{{ GetGrid(2,2,x.name) }}</td>
                    <td>{{ GetGrid(3,2,x.name) }}</td>
                    <td>{{ GetGrid(4,2,x.name) }}</td>
                </tr>
            </table>
            
            <div class="form-row">
                <div class="col-auto">
                <div class="form-check">
                    <input type="checkbox" ng-model="epidemic" class="form-check-input" />
                    <label class="form-check-label">Epidemic mode</label>
                </div>
                </div>
                
                <div class="col-auto">
                <button type="button" ng-click="undo()" class="btn btn-info">Undo</button>
                </div>
                
                <div class="col-auto">
                <div class="form-group">
                    <input type="number" ng-model="playercards" ng-change="updateplayerdeck()" class="form-control"/>
                    <label>Player cards (without epidemic)</label>
                </div>
                </div>
                
                <div class="col-auto">
                <div class="form-group">
                    <input type="number" ng-model="epidemiccards" ng-change="updateplayerdeck()" class="form-control"/>
                    <label>Epidemic cards</label>
                </div>
                </div>
            </div>
            
            <div ng-repeat="l in state.deck">
                <p>{{ l.length }} {{ l.toString() }}</p>
            </div>
            <p>infectRate: {{ state.infectRate }}</p>
            <p>playerDeck: {{ state.playerDeck }}</p>
            <p>isThereEpidemic: {{ state.isThereEpidemic }}</p>
            <p>toInfect: {{ state.toInfect }}</p>
        </div>
        
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>
