<!DOCTYPE html>
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script src="calc.js"></script>
    </head>
    <body>
        <h1>Pandemic calculator</h1>
        <div ng-app="pandemic" ng-controller="calculator">
            <table>
                <tr>
                    <th>&nbsp;</th>
                    <th>City</th>
                    <th>1 turn</th>
                    <th>2 turn</th>
                    <th>3 turn</th>
                    <th>4 turn</th>
                </tr>
                <tr ng-repeat="x in cities">
                    <td>{{ x.color }}</td>
                    <td>
                        <button type="button" ng-click="clickcity(x.name)">
                            {{ x.name }}
                        </button>
                    </td>
                    <td>{{ (state.Query(1*infectrate)[x.name]).toFixed(2) }}</td>
                    <td>{{ (state.Query(2*infectrate)[x.name]).toFixed(2) }}</td>
                    <td>{{ (state.Query(3*infectrate)[x.name]).toFixed(2) }}</td>
                    <td>{{ (state.Query(4*infectrate)[x.name]).toFixed(2) }}</td>
                </tr>
            </table>
            <input type="checkbox" ng-model="epidemic"/>Epidemic mode
            <input type="number" ng-model="infectrate"/>Infection rate
            <button type="button" ng-click="undo()">Undo</button>
            <div ng-repeat="l in state.deck">
                <p>{{ l.length }} {{ l.toString() }}</p>
            </div>
        </div>
    </body>
</html>
